body {
	background-color:  #9ACD32;
}
.img-top {
	padding-top: 60px;
}
.text-footer {
	color: white;
}
.containerTop {
	margin-top: 40px;
	margin-bottom: 50px;
	border-radius: 10px;
}
.user-autorisation {
	padding-top: 30px;
	padding-bottom: 20px;
}
.footer {
	border-radius: 10px;
	padding-top: 10px;
}
.content {
	padding-bottom: 30px;
	padding-top: 30px;
}
.textoot {
	margin-top: 15px;
}
 .content-text {
 	padding-bottom: 10px;
 	
 }
.content-image{
	border-radius: 10px;
	
}